# Node modules
node_modules/
client/node_modules/
package-lock.json

# Build output
dist/
client/dist/

# TypeScript build cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Misc
coverage/
**/.cache/
**/.history/
