.oauth-client-panel-status-icon {
  opacity: 0.38;
}

.oauth-client-panel-status-icon-active {
  color: #5D87FF;
  opacity: 1;
}

.oauth-client-panel-monospace-input input {
  font-family: monospace;
  font-size: 0.85rem;
}
